.fieldset {
  display: flex;
  flex-direction: column;
}

.overlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content:focus {
  outline: none;
}

.buttonPrimary {
  background-color: #ff7a00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  border-radius: 8px;
  padding: 20px 18px;
  font-size: 20px;
  margin: 52px;
  width: 220px;
  height: 48px;
}

.buttonPrimary:hover {
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255, 122, 0, 0.8);
}
