.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: fit-content;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  width: fit-content;
  padding: 1rem;

  background-color: #ebe9ea;
  border-radius: 8px;
}

.cardWrapper:hover {
  cursor: pointer;
}

.imageAndNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.itemImageWrapper {
  width: 7rem;
  height: 7rem;
  align-self: center;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.itemName {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-self: flex-start;
}

.priceAndAvailabilityWrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.availability {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
