.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.divFormLogin {
  background-color: #ffffff;
  display: flex;
  padding-top: 25px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.labelsForm {
  font-size: 12px;
  margin-top: 20px;
}

.inputsForm {
  background-color: #D9D9D9;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.pForm {
  font-size: 10px;
  margin-bottom: 35px;
}

.buttonForm {
  display: flex;
  width: 50%;
  justify-content: center;
  align-self: center;
  background-color: #ff7a00;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  cursor:pointer;
}

.buttonForm:hover {
  background-color: #ff7a50;
  transition: all 0.5s;
} 

.linkCadastrar {
  color: #ff7a00;
  text-decoration: none;
}