.buttonPrimary {
  background-color: #ff7a00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  border-radius: 8px;
  padding: 20px 18px;
  font-size: 20px;
  margin: 52px;
}
